body {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}

.font-300 {
  font-weight: 300 !important;
}

.font-500 {
  font-weight: 500 !important;
}

.font-700 {
  font-weight: 700 !important;
}

.logo {
  width: 130px;
}

.btn-style button {
  background-color: #00000099;
  color: white;
  border: 3px solid #6B63B5;
  margin: 0 5px;
  padding: 5px 0;
  width: 146px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.btn-style button:hover {
  background-color: #6B63B599;
}

.btn-active {
  background-color: #6B63B5 !important;
}

.gryffindor {
  background: -webkit-gradient(linear, left top, right top, from(red), to(#fed482));
  background: linear-gradient(90deg, red 0%, #fed482 100%);
}

.slytherin {
  background: -webkit-gradient(linear, left top, right top, from(#1c792b), to(#82e95e));
  background: linear-gradient(90deg, #1c792b 0%, #82e95e 100%);
}

.ravenclaw {
  background: -webkit-gradient(linear, left top, right top, from(#0597b7), to(#66d1ff));
  background: linear-gradient(90deg, #0597b7 0%, #66d1ff 100%);
}

.hufflepuff {
  background: -webkit-gradient(linear, left top, right top, from(#ffc700), to(#fff388));
  background: linear-gradient(90deg, #ffc700 0%, #fff388 100%);
}

.card2 {
  background-color: #CCCCCC !important;
}

.card-character .card-image {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px 5px 0px 0px;
}

.card-character .character-img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-character .card-description {
  background-color: white;
  padding: 0 10px;
  border-radius: 0px 0px 5px 5px;
}

.card-character .card-description .character-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 9px;
}

.card-character .card-description .character-status p {
  font-size: 13px;
  padding-right: 15px;
  margin: 0;
}

.card-character .card-description .character-status .fa-bookmark, .card-character .card-description .character-status p {
  color: #999999;
}

.card-character .card-description .character-status .fa-bookmark {
  cursor: pointer;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.card-character .card-description .character-status .fa-bookmark:hover {
  color: #4e4e4e;
}

.card-character .character-name {
  padding-top: 11px;
}

.sub-menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 285px;
  height: 40px;
  color: white;
  text-align: center;
}

.sub-menu div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: #6B63B5;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.sub-menu div:hover {
  background-color: #4b4583;
}

.sub-menu div:first-child {
  border-right: 1px solid #4b4583;
  border-radius: 10px 0 0 0;
}

.sub-menu div:last-child {
  border-radius: 0 10px 0 0;
}

.sub-menu p {
  margin: 0;
  text-transform: uppercase;
}

.sub-menu .fas {
  padding-left: 5px;
}

.sub-menu-btn {
  z-index: 1;
  -webkit-box-shadow: 0px -5px 11px -1px rgba(0, 0, 0, 0.39);
          box-shadow: 0px -5px 11px -1px rgba(0, 0, 0, 0.39);
}

.menu-fav {
  position: fixed;
  bottom: 0;
  height: 355px;
  z-index: 0;
  width: 100% !important;
  padding: 10px 15px;
  display: initial !important;
  border-radius: 0 !important;
  overflow-y: auto;
  cursor: default !important;
}

.menu-fav div {
  border: none !important;
  cursor: default;
}

.menu-fav .favcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
}

.menu-fav .favcontent p {
  margin: 0;
}

.menu-fav .favcontent:not(:last-child) {
  border-bottom: 1px solid #4b4583 !important;
}

.menu-fav .favcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100% !important;
}

.menu-fav .favimage {
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  margin-right: 15px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-fav .btn-trash {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  cursor: pointer;
}

.menu-fav .btn-trash:hover {
  color: #999999;
}

.menu-fav:hover {
  background-color: #6B63B5 !important;
}

.menu-fav:hover div:hover {
  background-color: #6B63B5 !important;
}

.character-desc {
  display: none !important;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalheader p {
  margin: 0;
}

.modal-content label {
  font-size: 13px;
}

.modal-content input, .modal-content select {
  border: none;
  border-bottom: 1px solid #ced4da;
  background-color: #f5f7f9;
  color: #7a7c7e;
  font-size: 13px;
}

.modal .btn-style button {
  margin-right: 0 !important;
}

.error-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  color: #dc3545;
}

@media only screen and (min-width: 839px) {
  .modal-content {
    width: 670px;
  }
}

@media only screen and (min-width: 992px) {
  .btn-style button {
    width: 235px;
    padding: 10px 0;
    font-size: 13px;
  }
  .btn-style button:first-child {
    margin-right: 76px;
  }
  .sub-menu {
    height: 33px;
    width: 264px;
  }
  .sub-menu p {
    font-size: 13px;
  }
  .card-character {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card-character .card-image {
    width: 40%;
    border-radius: 16px 0 0 16px;
  }
  .card-character .card-description {
    width: 60%;
    border-radius: 0 16px 16px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }
  .card-character .card-description .character-status {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .card-character .card-description .card-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-bottom: 15px;
  }
  .card-character .card-description .card-text p {
    text-align: start !important;
    font-size: 20px;
  }
  .card-character .card-description .card-text .character-desc p {
    font-size: 13px;
    margin: 0;
    padding-bottom: 4px;
  }
  .card-character .character-desc {
    display: block !important;
    color: #374A59;
  }
  .card-image {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-image .character-img {
    width: 130px;
    height: 130px;
  }
  .sub-menu {
    top: 0;
    -webkit-transform: none;
            transform: none;
    right: 8%;
    left: initial;
  }
  .sub-menu div:first-child {
    border-radius: 0 0 0 10px;
  }
  .sub-menu div:last-child {
    border-radius: 0 0 10px 0;
  }
  .header {
    padding-top: 70px;
  }
  .header .logo {
    width: 170px;
  }
  .header p {
    font-size: 25px;
  }
  .sub-menu-btn {
    -webkit-box-shadow: 0px 10px 11px -1px rgba(0, 0, 0, 0.39);
            box-shadow: 0px 10px 11px -1px rgba(0, 0, 0, 0.39);
  }
  .sub-menu-btn:nth-child(2) {
    border-radius: 0 0 10px 0;
  }
  .menu-fav {
    width: 264px !important;
    top: 0;
    padding-top: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    padding-top: 85px;
  }
  body {
    background-image: url("img/Wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=styles.css.map */